<footer class="page-footer font-small blue">
    <div class="footer-copyright text-center py3">
        &copy;  2023 - Blazor Challenge by
        <a href="https://balta.io/">balta.io</a>
    </div>
</footer>

