@page "/locality/create"
@inject ILocalityService Service
@inject NavigationManager Navigation
@rendermode InteractiveServer
@attribute [Authorize]

<h2> Create New Locality </h2>
<hr />

@if (!string.IsNullOrEmpty(error))
{
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        @error
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

<EditForm Model="@Model" OnValidSubmit="SalvarAsync">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="mb-3">
        <label class="form-label"> State </label>
        <InputText @bind-Value="Model.State" class="form-control" />
        <ValidationMessage For="@(() => Model.State)" />
    </div>

    <div class="mb-3">
        <label class="form-label"> City </label>
        <InputText @bind-Value="Model.City" class="form-control" />
        <ValidationMessage For="@(() => Model.City)" />
    </div>

    <button type="submit" class="btn btn-primary">
        <span class="bi bi-floppy2-fill"></span> Create
    </button>
    <a class="btn btn-link" href="/locality"> Cancel </a>
</EditForm>

@code {
    public LocalityViewModel Model { get; set; } = new();
    private string? error; 

    public async Task SalvarAsync()
    {
        try
        {
            await Service.SaveAsync(Model);
            Navigation.NavigateTo("locality");

        }catch(Exception ex)
        {
            error = ex.Message; 
        }
    }
}
