@page "/locality/create"
@inject ILocalityService Service
@inject NavigationManager Navigation
@rendermode InteractiveServer
@attribute [Authorize]

<h1> Create New Locality </h1>
<EditForm Model="@Model" OnValidSubmit="SalvarAsync">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="mb-3">
        <label class="form-label"> Acronym of State </label>
        <InputText @bind-Value="Model.State" class="form-control" />
        <ValidationMessage For="@(() => Model.State)" />
    </div>

    <div class="mb-3">
        <label class="form-label"> Name of City </label>
        <InputText @bind-Value="Model.City" class="form-control" />
        <ValidationMessage For="@(() => Model.City)" />
    </div>

    <button type="submit" class="btn btn-primary">
        <span class="bi bi-floppy2-fill"></span> Create
    </button>
    <a class="btn btn-link" href="/locality"> Cancel </a>
</EditForm>

@code {
    public LocalityViewModel Model { get; set; } = new();

    public async Task SalvarAsync()
    {
        await Service.SaveAsync(Model);
        Navigation.NavigateTo("locality");
    }
}
