@page "/locality/detail/{id:long}"
@inject ILocalityService Service

<h3>Detail</h3>
<br />
<div class="form-control mb-3">
    <EditForm Model="@Model">
        <label class="form-label">Id</label>
        <InputNumber @bind-Value="Model.Id" class="form-control" readonly />
        <label class="form-label">City</label>
        <InputText @bind-Value="Model.City" class="form-control" readonly />
        <label class="form-label">State</label>
        <InputText @bind-Value="Model.State" class="form-control" readonly />
        <br />
        <div>
            <a href="/locality" class="btn btn-success">
                <span class="bi bi-skip-backward"></span>
                    Voltar
                </a>
        </div>
    </EditForm>
</div>


@code {
    [Parameter]
    public long Id { get; set; }

    public LocalityViewModel Model { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        Model = await Service.GetbyIdAsync(Id);
    }

}
