@page "/locality/test"
@inject ILocalityService Service
<h3>ListaTeste</h3>

<DxGrid Data="@localityViewModels"
        PageSize="20"
        CssClass="ch-480"
        PagerPosition="GridPagerPosition.TopAndBottom"
        PageSizeSelectorVisible="true"
        PageSizeSelectorItems="@(new int[] { 5, 10, 20, 100 })"
        PageSizeSelectorAllRowsItemVisible="true"
        PagerSwitchToInputBoxButtonCount="10"
        PagerVisibleNumericButtonCount="10"
        KeyboardNavigationEnabled="true">
    <Columns>
        <DxGridDataColumn FieldName="Id" MinWidth="100" />
        <DxGridDataColumn FieldName="State" Width="15%" />
        <DxGridDataColumn FieldName="Clity" Width="10%" />
        <DxGridDataColumn FieldName="ShipCountry" Width="15%" />
        <DxGridDataColumn FieldName="Freight" Width="10%" />
        <DxGridDataColumn FieldName="OrderDate" Width="10%" MinWidth="80" />
        <DxGridDataColumn FieldName="ShippedDate" Width="10%" MinWidth="80" />
    </Columns>
</DxGrid>

@code {

    public IEnumerable<LocalityViewModel> localityViewModels { get; set; } = Enumerable.Empty<LocalityViewModel>();

    protected override async  Task OnInitializedAsync()
    {
        localityViewModels = await Service.GetAsync();
    }
}
