@page "/"

<PageTitle>Home</PageTitle>

<h2 class="text-center">Welcome in Challenge</h2>

<div class="container">
    <div class="center-container">
        <img src="/img/challenge.png" alt="logo challenge" class="center-image" />
    </div>
</div>



